:host {
  display: block;
  background-color: #0000ff24;
}

svg {
  height: 100vh;
  width: 100vw;
  fill: white;
  fill-rule: nonzero;
  stroke: #787878;
  stroke-width: 0.25;
  stroke-miterlimit: 1;
}

.clickable {
  fill: #f4e2ba;
  cursor: pointer;
}

.clickable:hover {
  fill: red;
}

:focus {
    outline: none
}
