:host  h2 {
  font-weight: bold;
}

.bio {
  margin-bottom: 24px;
}

.video-slider {
  display: flex;
  width: 100%;
  align-items: center;
}

.video-slider ion-button {
  display: flex;
  flex-grow: 1;
  height: 120px;
}

iframe {
  border: none;
}
